.square {
  background-color: red;
  position: absolute;
  top: 50px;
  left: 50px;
  width: 100px;
  height: 100px;

  transition: left 200ms, top 200ms, height 200ms, width 200ms;
}

.active {
  width: 200px;
  height: 200px;
}
